<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>running cat/tile000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>running cat/tile001.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>running cat/tile002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>running cat/tile003.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,256},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>running cat/tile004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>running cat/tile005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>running cat/tile006.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,512},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
			<key>running cat/tile007.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,768},{512,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,256}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>running_cat.png</string>
			<key>realTextureFileName</key>
			<string>running_cat.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>